.table-block {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-block td {
  border: 1px solid #ccc;
  padding: 8px;
  min-width: 50px;
}

.table-block td div {
  min-height: 20px;
  outline: none;
}

.theme-dark .table-block td {
  border: 1px solid #555;
}
