.noResultsContainer {
  padding: 8px;
  margin-bottom: 12px;
}

.noResultsText {
  font-size: 12px;
  color: var(--mantine-color-gray-6);
}

.contentWrapper {
  flex: 1;
  padding: 24px;
  height: 100%;
  overflow-y: auto;
}
